
.wdi-red{
	color: #000000;
}

 ul {
     list-style: none;
     padding: 0;
 }

 #container {
     margin-left: 20px;
     margin-right: 20px;
 }
 
#login .container #login-row #login-column #login-box {
  margin-top: 120px;
  max-width: 600px;
  height: 500px;
  border: 1px solid #9C9C9C;
  background-color: #EAEAEA;
}
#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}
#login .container #login-row #login-column #login-box #login-form #register-link {
  margin-top: -85px;
}
.messages{
	text-align:center;
	background-color:#cccccc;
}

.compra{
	
	border-radius:4%;
	height:35px;
	background-color:green;
	color:white;
	border:none;
}

.compra:hover{
	
	transition:0.5s;
	background-color:#004d00;
	
}

#cad{
	margin-left:580px;
	margin-bottom:50px;
	margin-top:50px;
}

#body-cad{
	background-color:#e9ecef;
	height:60%;
	
}